:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(227, 242, 255);
}

#main-section {
    display: grid;
    grid-template-rows: 111.62px auto 74.75px;
    height: 100vh;
}

button {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

nav {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: inherit;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 0;
}

nav ul > li {
    font-size: 16px;
    font-weight: 600;
    line-height: 22.92px;
    color: #4d4d4d;
}

footer {
    background-color: #252525;
    color: #aaaaaa;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    font-size: 14px;
    font-weight: 500;
    line-height: 22.92px;
}

#header {
    display: flex;
    align-items: center;
    padding: 36px 26px;
}

#header h1 {
    font-size: 25.35px;
    font-weight: 900;
    line-height: 40.27px;
    margin: 0;
    margin-right: auto;
    color: black;
}

#home {
    color: white;
    display: flex;
    align-items: center;
    padding: 0 27px;
    height: 100%;
    background-image: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.45) 0%,
            rgba(0, 0, 0, 0.6) 100%
        ),
        url("https://m.media-amazon.com/images/I/61IoXq+0ZQL._AC_UF1000,1000_QL80_.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

#home .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    max-width: 500px;
}

#home .container h1 {
    font-size: 36px;
    font-weight: 800;
    line-height: 42px;
    margin-bottom: 22px;
}

#home .container p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 50px;
}

#home .container button {
    padding: 10px;
    width: 100%;
    font-size: 15.95px;
    font-weight: 700;
    line-height: 31.66px;
    text-align: center;
    background-color: #ff8c38;
    border: none;
    border-radius: 5px;
    color: white;
    align-self: center;
}

/**************About Section***************/
#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #161616;
    max-width: 500px;
}

#about img {
    object-fit: cover;
}

#about .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 27px;
}

#about .content h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    width: 100%;
}

#about .content p {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    width: 100%;
}

#about .content .explore-banner {
    border-radius: 5px;
    background-color: #ffcc8d;
    margin-top: 55px;
    margin-bottom: 53px;
    width: 100%;
}

#about .content .explore-banner h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    width: 100%;
    margin: 0 37px;
}

#about .content .explore-banner h2:first-child {
    margin-top: 32px;
}

#about .content .explore-banner button {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 15.95px;
    font-weight: 700;
    line-height: 23.92px;
    padding: 12px 22px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #161616;
    margin: 25px 37px 32px;
}

/************Vans Section*************/
#vans {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 27px;
}

#vans h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 33.65px;
}

#vans .filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 56px;
}

#vans ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

#vans ul > li {
    border-radius: 5px;
    background-color: #ffead0;
    font-size: 16px;
    font-weight: 500;
    line-height: 23.92px;
    text-align: center;
    color: #4d4d4d;
    padding: 6px 26px 7px;
}

#vans .filters .filter-btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 23.92px;
    color: #4d4d4d;
    border: none;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
    margin-left: auto;
}

#vans .filters .filter-btn:focus {
    outline: none;
}

#vans .cards {
    display: grid;
    grid-gap: 20px; /* Adjust the grid gap according to your design */
    grid-template-columns: repeat(
        auto-fit,
        minmax(200px, 1fr)
    ); /* Adjust the min and max width of columns */
    grid-auto-rows: minmax(
        200px,
        auto
    ); /* Adjust the min and max height of rows */
}

#vans .van-card {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

#vans .van-card img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
}

#vans .van-card .card-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#vans .van-card .card-heading {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

#vans .van-card .para {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    position: absolute;
    right: 0;
    top: 20px;
}

#vans .van-card .van-type,
#van .van-details .van-type {
    border-radius: 5px;
    color: #ffead0;
    font-size: 16px;
    font-weight: 600;
    line-height: 31.66px;
    margin-top: 10px;
    text-align: center;
    width: 85.71px;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

#vans .van-card .van-type:hover {
    color: #ffead0;
}

#vans .van-card .van-type:focus {
    outline: none;
}

#vans .van-card .van-type.selected {
    color: #ffead0;
}

#vans .van-card .van-type.simple:hover,
.van-type.simple.selected {
    background-color: #e17654;
}

#vans .van-card .van-type.rugged:hover,
.van-type.rugged.selected {
    background-color: #115e59;
}

#vans .van-card .van-type.luxury:hover,
.van-type.luxury.selected {
    background-color: #161616;
}

/************Van section************/
#van {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
    padding: 27px;
    padding-bottom: 85px;
    color: #161616;
    max-width: 500px;
}

#van button.back-link {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 11px;
}

#van .back-link p {
    text-decoration: underline;
}

#van img {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

#van .van-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 16px;
}

#van .van-details .van-name {
    font-size: 32px;
    font-weight: 700;
    line-height: 33.65px;
    margin: 0;
}

#van .van-details .pricing {
    font-size: 24px;
    font-weight: 700;
    line-height: 44.15px;
    margin: 0;
}

#van .van-details .pricing span {
    font-size: 20px;
    font-weight: 500;
    line-height: 44.15px;
}

#van .van-details .van-desc {
    font-size: 16px;
    font-weight: 500;
    line-height: 23.92px;
    margin: 0;
}

#van .van-details button {
    background-color: #ff8c38;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 31.66px;
    padding: 10px;
    text-align: center;
    width: 100%;
}

/***************Hosts Section*****************/
#host nav {
    padding-left: 26px;
}

#host nav ul > li {
    font-size: 18px;
    font-weight: 500;
    line-height: 22.92px;
    margin: 0;
}

/***********DashBoard Section********/
#dashboard {
    display: flex;
    flex-direction: column;
    color: #161616;
    margin-top: 10px;
}

#dashboard .summary {
    background-color: #ffead0;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 37px 27px;
}

#dashboard .summary h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 22px;
    margin: 0;
}

#dashboard .summary .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#dashboard .summary .details p {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin: 0;
    color: #4d4d4d;
}

#dashboard .summary .details p span {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #161616;
    text-decoration: underline;
}

#dashboard a {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-decoration: none;
}

#dashboard .summary #income-value {
    font-size: 48px;
    font-weight: 800;
    line-height: 38px;
    margin: 0;
}

#dashboard .review {
    background-color: #ffddb2;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 27px;
}

#dashboard .review h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 22px;
    margin: 0;
    margin-right: 12px;
}

#dashboard .review p {
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    margin: 0;
    margin-right: auto;
    color: #4d4d4d;
}

#dashboard .review p span {
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    color: #161616;
}

.van-details {
    display: flex;
    flex-direction: column;
    padding: 26px;
}

.van-details .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.van-details .heading h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 22px;
    margin: 0;
}

.van-details .vans {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.van-details .vans .van {
    background-color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    border-radius: 6px;
    margin-bottom: 12px;
}

.van-details .vans .van img {
    width: 65px;
    margin: 18px 24px;
    border-radius: 4px;
}

.van-details .vans .van .van-info {
    margin-right: auto;
}

.van-details .vans .van .van-info .van-name {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.van-details .vans .van .van-info .van-price {
    font-size: 16px;
    font-weight: 500;
    color: #4d4d4d;
    margin: 0;
}

.van-details .vans .van a {
    margin-right: 24px;
}

/******Utility******/
.active {
    text-decoration: underline;
}
