:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    margin: 0;
    padding: 0;
}

#main-section {
    display: grid;
    grid-template-rows: 111.62px auto 74.75px;
    height: 100vh;
}

button {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

nav {
    display: flex;
    align-items: center;
    padding: 36px 26px;
}

a {
    text-decoration: none;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: inherit;
}

nav h2 {
    font-size: 25.35px;
    font-weight: 900;
    line-height: 40.27px;
    margin: 0;
    margin-right: auto;
}

nav h2 > a {
    color: black;
}

nav p {
    font-size: 16px;
    font-weight: 600;
    line-height: 22.92px;
    margin: auto 8px;
}

nav p > a {
    color: #4d4d4d;
}

footer {
    background-color: #252525;
    color: #aaaaaa;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    font-size: 14px;
    font-weight: 500;
    line-height: 22.92px;
}

#home {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 27px;
    background-image: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.45) 0%,
            rgba(0, 0, 0, 0.6) 100%
        ),
        url("https://m.media-amazon.com/images/I/61IoXq+0ZQL._AC_UF1000,1000_QL80_.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

#home h1 {
    font-size: 36px;
    font-weight: 800;
    line-height: 42px;
    margin-bottom: 22px;
}

#home p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 50px;
}

#home button {
    padding: 10px;
    width: 100%;
    font-size: 15.95px;
    font-weight: 700;
    line-height: 31.66px;
    text-align: center;
    background-color: #ff8c38;
    border: none;
    border-radius: 5px;
    color: white;
    align-self: center;
}

/**************About Section***************/
#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #161616;
}

#about img {
    object-fit: cover;
}

#about .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 27px;
}

#about .content h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    width: 100%;
}

#about .content p {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    width: 100%;
}

#about .explore-banner {
    border-radius: 5px;
    background-color: #ffcc8d;
    margin-top: 55px;
    padding: 32px 37px;
    margin-bottom: 53px;
}

#about .explore-banner h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    width: 100%;
    margin: 0;
}

#about .explore-banner button {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 15.95px;
    font-weight: 700;
    line-height: 23.92px;
    padding: 12px 22px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #161616;
    margin-top: 25px;
}

/************Vans Section*************/
#vans {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 27px;
}

#vans h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 33.65px;
}

#vans .filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 56px;
}

#vans ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

#vans ul > li {
    border-radius: 5px;
    background-color: #ffead0;
    font-size: 16px;
    font-weight: 500;
    line-height: 23.92px;
    text-align: center;
    color: #4d4d4d;
    padding: 6px 26px 7px;
}

#vans .filters .filter-btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 23.92px;
    color: #4d4d4d;
    border: none;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
    margin-left: auto;
}

#vans .filters .filter-btn:focus {
    outline: none;
}

#vans .cards {
    display: grid;
    grid-gap: 20px; /* Adjust the grid gap according to your design */
    grid-template-columns: repeat(
        auto-fit,
        minmax(200px, 1fr)
    ); /* Adjust the min and max width of columns */
    grid-auto-rows: minmax(
        200px,
        auto
    ); /* Adjust the min and max height of rows */
}

#vans .van-card {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

#vans .van-card img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
}

#vans .van-card .card-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#vans .van-card .card-heading {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

#vans .van-card .para {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    position: absolute;
    right: 0;
    top: 20px;
}

#vans .van-card .van-type {
    border-radius: 5px;
    color: #ffead0;
    font-size: 16px;
    font-weight: 600;
    line-height: 31.66px;
    margin-top: 10px;
    text-align: center;
    width: 85.71px;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

#vans .van-card .van-type:hover {
    color: #ffead0;
}

#vans .van-card .van-type:focus {
    outline: none;
}

#vans .van-card .van-type.selected {
    color: #ffead0;
}

#vans .van-card .van-type.simple:hover,
.van-type.simple.selected {
    background-color: #e17654;
}

#vans .van-card .van-type.rugged:hover,
.van-type.rugged.selected {
    background-color: #115e59;
}

#vans .van-card .van-type.luxury:hover,
.van-type.luxury.selected {
    background-color: #161616;
}

/******Utility******/
.active {
    text-decoration: underline;
}
